/* site.css */


/* ----------------------- Resume ----------------------- */

.resume-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 80%;
}

.resume-content a:link, a:visited, a:active {
    color: #99CCFF;
    color: white;
}

.resume-content a:hover {
    color: lightgrey;
}

.resume-page-item {
    display: flex;
    font-size: 80%;
}

.resume-page-project {
    display: flex;
    font-size: 90%;
}

.description-content-buyout {
    display: inline-flex;
    width: 25em;
    font-size: 70%;
    padding-top: 0px;
    padding-left: 1em;
}

.description-content-time {
    display: inline-flex;
    width: 25em;
    font-size: 70%;
    padding-top: 0px;
    padding-left: 1em;
}

.description-title {
    display: inline-block;
}

.tech-left-curly, .tech-right-curly {
    font-size: 2000%;
}

.tech-content {
    padding-top: 2.0em;
    font-size: 200%;
    min-width: 19em;
}

.tech-title {
    font-size: 200%;
}

.tech-right-curly {

}

.tech-left-curly {

}


.education-item {
    font-size: 120%;
}


.project-item {
    width: 23.5em;
    font-size: 90%;
}


/* ------------------------ About ------------------------ */

.about-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: 100%;
}

.about-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 4em;
}

.about-left-curly, .about-right-curly {
    font-size: 3000%;
}

.about-page-item {
    display: flex;
}

.about-content-left-curly, .about-content-right-curly {
    font-size: 2000%;
}

.about-content-right-curly {

}

.about-content-left-curly {

}

.summary-title {
    font-size: 430%;
}

.summary-content {
    width: 20em;
    font-size: 120%;
    padding-top: 2.6em;
}

.short-info {
    display: flex;
}

.short-left-curly, .short-right-curly {
    font-size: 2000%;
    display: inline-flex;
}

.short-left-curly {

}

.short-right-curly {

}


.short-content {
    padding-top: 1.4em;
    font-size: 200%;
}

.short-title {
    font-size: 280%;
}

.picture-title {
 font-size: 500%;
}

.picture-content {
    padding-top: 3em;

}

.my-picture {
    height: 14em;
    border-radius: 1em;
}

/* ----------------------- NotFound ----------------------- */

.not-found-title {
    width: 100%;
    margin-top: 5em;
    font-size: 300%;
    display: flex;
    justify-content: center;
}

/* ------------------------ Shared ------------------------ */

@font-face {
    font-family:"PTSansNarrow";
    src: url("Fonts/PT_Sans-Narrow-Web-Bold.ttf")
}

@font-face {
    font-family:"PTSansNarrow";
    src: url("Fonts/PT_Sans-Narrow-Web-Regular.ttf")
}

@font-face {
    font-family:"PTSans";
    src: url("Fonts/PT_Sans-Web-Bold.ttf")
}

@font-face {
    font-family:"PTSans";
    src: url("Fonts/PT_Sans-Web-Bold.ttf")
}

@font-face {
    font-family:"PTSans";
    src: url("Fonts/PT_Sans-Web-BoldItalic.ttf")
}

@font-face {
    font-family:"PTSans";
    src: url("Fonts/PT_Sans-Web-Italic.ttf")
}

@font-face {
    font-family:"PTSans";
    src: url("Fonts/PT_Sans-Web-Regular.ttf")
}


body {
    color: white;
    background-color: black;
    font-family: PTSansNarrow;
    margin: 0;
}

p {
    margin: 0;
}

.page-body-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 8em;
    margin-bottom: 4em;
}

.page-break {
    width: 100%;
}

.comma {
    display: inline;
}

.home-logo {
    position: absolute;
    top: 35%;
}

.elm-logo {
    width: 1.5em;
    margin-top: 3px;
    margin-right: 3px;
}

.q-and-a {
    display: inline;
    font-weight: bold;
}

.q-and-a-spacing {
    margin-bottom: 0.3em;
}

.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    border-top: solid;
}

.footer-console {
    width: 100%;
}

.footer-console-tab {
    display: inline;
    cursor: pointer;
    outline: none;
    background-color: #DADADA;
    color: #7F7F7F;
    width: 8.8em;
    padding-left: 8px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 2px;
    border-top-right-radius: 7px;
    border: solid;
    border-width: thin;
    border-left-width: 0;
    border-bottom-width: 0;
    border-color: #7F7F7F;
}

.footer-console-title {
    display: inline;
    color: black;
    position: absolute;
    margin-top: -1px;
}

.footer-console-content {
    display: flex;
    width: 100%;
    background-color: #DADADA;
    color: black;
    border-width: 1px;
}

.footer-console-item {
    background-color: white;
    border-left: solid;
    border-right: solid;
    border-color: #7F7F7F;
    border-width: thin;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    width: 30em;
}

.footer-console-icon {
    font-size: 200% !important;
}

.console-label-and-link {
    display: flex;
}

.console-label {
    width: 10em;
    margin-left: 0.5em;
}
.console-github-description {
    margin-bottom: 3px;
}

.footer-console-separator-top {
    margin: 0;
    background-color: #DADADA;
    width: 100%;
    height: 2px;
    border-bottom: solid;
    border-width: thin;
    border-color: #7F7F7F;
}

.footer-console-separator-bottom {
    margin: 0;
    background-color: #DADADA;
    width: 100%;
    height: 2px;
    border-bottom: solid;
    border-top: solid;
    border-width: thin;
    border-color: #7F7F7F;
}

.nav-container {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: black;
    margin: 0;
    padding-bottom: 0.3em;
    border-bottom: solid;
}

.nav-item {
    display: inline;
    flex-shrink: 1;
    flex-wrap: nowrap;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: lightgrey;
}

.nav-button {
    font-size: 700%;
    display: inline;
}

.nav-icon {
    display: inline;
}

.nav-curly-left, .nav-curly-right {
    display: inline;
}

.footer-contact {
    display: flex;
    font-size: 200%;
    width: 100%;
    justify-content: center;
    background-color: black;
    margin-bottom: -0.7em;
}

.contact-separator {
    margin-left: 0.1em;
    margin-right: 0.3em;
}

.footer-contact-right-curly {
    margin-left: 0.3em;
}

/* ------------------------ Media ------------------------ */

/* Landscape tablets and medium desktops */
@media (max-width: 66em) {
    .only-on-large {
        display: none;
    }

    .footer-contact {
        margin-bottom: 0em;
    }
}

/* Edge does not support the footer console */
@supports (-ms-ime-align: auto) {
    .only-on-large {
        display: none;
    }

    .footer-contact {
        margin-bottom: 0em;
    }
}

/* IE does not support the footer console */
@supports (-ms-accelerator:true) {
    .only-on-large {
        display: none;
    }

    .footer-contact {
        margin-bottom: 0em;
    }
}

/* IE does not support the footer console */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .only-on-large {
        display: none;
    }

    .footer-contact {
        margin-bottom: 0em;
    }
}

/* Landscape tablets and medium desktops */
@media (max-width: 66em) {
    .about-hide-when-small {
        display: none;
    }
}

@media (max-width: 117em) {
    .about-container {
        font-size: 80%;
    }
}

@media (max-width: 66em) {
    .home-logo {
        position: absolute;
        top: 35%;
        margin-left: 20%;
        width: 60%;
    }
}

@media (min-width: 60em) {
    .home-logo {
        position: absolute;
        top: 35%;
        margin-left: 35%;
        width: 30%;
    }
}


@media (max-width: 66em) {
    .resume-page-item {
        font-size: 100%;
    }

    .education-item {
        font-size: 140%;
    }

    .tech-item {
        font-size: 87%;
    }
}
