/* site.css */

body {
    color: white;
    background-color: black;
}

p {
    margin: 0;
}

.home-logo {
    margin-top: 10em;
    margin-left: 20%;
    width: 60%;
}

.elm-logo {
    width: 1.5em;
    margin-top: 3px;
    margin-right: 3px;
}

.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-console {
    width: 100%;
}

.footer-console-tab {
    display: inline;
    cursor: pointer;
    outline: none;
    background-color: #DADADA;
    color: #7F7F7F;
    width: 8.8em;
    padding-left: 8px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 2px;
    border-top-right-radius: 7px;
    border: solid;
    border-width: thin;
    border-left-width: 0;
    border-bottom-width: 0;
    border-color: #7F7F7F;
}

.footer-console-title {
    display: inline;
    color: black;
    position: absolute;
    margin-top: -1px;
}

.footer-console-content {
    display: flex;
    width: 100%;
    background-color: #DADADA;
    color: black;
    border-width: 1px;
}

.footer-console-item {
    background-color: white;
    border-left: solid;
    border-right: solid;
    border-color: #7F7F7F;
    border-width: thin;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    width: 30em;
}

.footer-console-icon {
    font-size: 200% !important;
}

.console-label-and-link {
    display: flex;
}

.console-label {
    width: 10em;
    margin-left: 0.5em;
}
.console-github-description {
    margin-bottom: 3px;
}

.footer-console-separator-top {
    margin: 0;
    background-color: #DADADA;
    width: 100%;
    height: 2px;
    border-bottom: solid;
    border-width: thin;
    border-color: #7F7F7F;
}

.footer-console-separator-bottom {
    margin: 0;
    background-color: #DADADA;
    width: 100%;
    height: 2px;
    border-bottom: solid;
    border-top: solid;
    border-width: thin;
    border-color: #7F7F7F;
}

.nav-container {
    display: flex;
    justify-content: center;
}

.nav-item {
    display: inline;
    flex-shrink: 1;
    flex-wrap: nowrap;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: lightgrey;
}

.nav-button {
    font-size: 700%;
    font-family: cursive;
    display: inline;
}

.nav-icon {
    display: inline;
}

.nav-curly-left {
    display: inline;
}

.nav-curly-right {
    display: inline;
}
